/**imports**/
@import url(animations/particles.css);
/** variables **/
html, body {
  width: 100%;
  height: 100%; }

#canvas {
  background: #3A3042; }

body {
  overflow: hidden;
  background-color: #3A3042;
  color: #DB9D47;
  font-size: 16px;
  font-family: "Public Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300; }

.container {
  max-width: 1300px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center; }

.row {
  position: relative;
  max-width: 1300px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  text-align: center; }
  .row h1 {
    padding-top: 80px;
    margin: 3rem 0 0; }
  .row h5 {
    margin-top: 0px; }
  .row strong {
    color: #FF784F; }

/** HEADER */
/** BANNER **/
section#banner {
  color: #3A3042;
  background-color: #FF784F;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 50px;
  z-index: 1; }
  section#banner div {
    display: flex;
    justify-content: space-evenly; }
    section#banner div ul {
      text-align: center;
      margin: 0; }

/** NAVIGATION BAR */
nav {
  overflow: hidden;
  position: absolute;
  top: 15%;
  width: 100%;
  align-items: start;
  z-index: 8; }
  nav ul {
    display: flex;
    padding: 5px;
    justify-content: center; }
    nav ul li {
      display: inline;
      flex-basis: 5%; }
      nav ul li a {
        position: relative;
        margin: 5px;
        color: #FF784F;
        text-decoration: none;
        transition: 1s; }
        nav ul li a::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #CEDFD9;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 1s; }
        nav ul li a:hover {
          color: #CEDFD9; }
        nav ul li a:hover::after {
          transform: scaleX(1);
          transform-origin: left; }

.borderTop {
  border-top: 2px solid #3A3042;
  transition: transform 1.5s ease; }

.borderBot {
  border-bottom: 2px solid #3A3042;
  transition: transform 1.5s ease; }

.borderTop:hover {
  border-top: 2px solid #CEDFD9;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px); }

.logo {
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 9; }
  .logo #logoimg {
    width: 60px; }

.socials {
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  right: 10%;
  z-index: 9; }
  .socials .fa {
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    padding: 0px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #CEDFD9; }
    .socials .fa:hover {
      color: #FF784F; }

/** CONTENT **/
h1 {
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 60px;
  color: #CEDFD9;
  font-family: "Metropolis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600; }

h5 {
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 25px;
  color: #CEDFD9;
  font-family: "Metropolis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600; }

#h1-showcase {
  padding-top: 7%;
  position: relative; }
  #h1-showcase #content {
    position: absolute;
    top: 100%;
    left: 26%; }
  #h1-showcase #particleCanvas {
    position: absolute;
    left: 0;
    top: 140%; }

/*# sourceMappingURL=generalStyle.css.map */
