/**imports**/
@import "animations/particles.css";

/** variables **/
$color1: #3A3042;
$color2: #DB9D47;
$color3: #FF784F;
$color4: #CEDFD9;
$color5: #EDFFD9;
$fontsize: 16px;
$font-family: "Public Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family2: "Metropolis","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
$header-placement: 15%;
$maxWidth: 1300px;
$midBoxPadding: 5%;



html, body {
  width: 100%;
  height: 100%
}

#canvas{
  background: #3A3042;
}

body {
  overflow: hidden;
  background-color: $color1;
  color: $color2;
  font-size: $fontsize;
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 300;
}

.container {
  max-width: $maxWidth;
  padding-left: $midBoxPadding;
  padding-right: $midBoxPadding;
  display: flex;
  justify-content: center;
}

.row {
  position: relative;
  max-width: $maxWidth;
  padding-left: $midBoxPadding;
  padding-right: $midBoxPadding;
  width: 100%;
  text-align: center;
  h1{
    padding-top: 80px;
    margin: 3rem 0 0;
  }
  h5{
    margin-top: 0px;
  }
  strong{
    color: $color3;
  }
}


/** HEADER */

/** BANNER **/
section#banner {
  color: $color1;
  background-color: $color3;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 50px;
  z-index: 1;
  div{
    display: flex;
    justify-content: space-evenly;
    ul{
      text-align: center;
        margin: 0;
    }
  }
}

/** NAVIGATION BAR */
nav {
  overflow: hidden;
  position: absolute;
  top: $header-placement;
  width: 100%;
  align-items: start;
  z-index: 8;
  ul {
    display: flex;
    padding: 5px;
    justify-content: center;
    li {
      display: inline;
      flex-basis: 5%;
      a {
        position: relative;
        margin: 5px;
        color: $color3;
        text-decoration: none;
        transition: 1s;

        &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color4;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 1s;
      }
        &:hover {
        color: $color4;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
      }
    }
  }
}

.borderTop {
  border-top: 2px solid $color1;
  transition: transform 1.5s ease;
}

.borderBot {
  border-bottom: 2px solid $color1;
  transition: transform 1.5s ease;
}

.borderTop:hover{
  border-top: 2px solid $color4;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
} 

.borderBot:hover{

} 

.logo {
  position: absolute;
  top:$header-placement;
  left:10%;
  z-index: 9;
  #logoimg{
    width: 60px;
  }
}

.socials {
  position: absolute;
  top: $header-placement;
  display: flex;
  justify-content: center;
  right: 10%;
  z-index: 9;
  .fa {
     display:inline-block;
     font-size:26px;
     cursor:pointer;
     padding:0px;
     height:40px;
     border-radius:50%;
     text-align:center;
     position:relative;
     z-index:1;
     color:$color4;

     &:hover {
          color: $color3;
        }
  }
}

/** CONTENT **/
h1 {
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 60px;
  color: $color4;
  font-family: $font-family2;
  font-weight: 600;
}

h5{
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 25px;
  color: $color4;
  font-family: $font-family2;
  font-weight: 600;
}

#h1-showcase {
  padding-top: 7%;
  position: relative;
  #content{
    position: absolute; 
    top: 100%; 
    left: 26%; 
  }
  #particleCanvas{
    position: absolute;
    left: 0;
    top: 140%;
  }
}


