$colors: #FF784F, #FF521D, #FF6435, #FF784F, #FF8059, #FF8A66;

.particle {
	position: absolute;
 	border-radius: 50%;
}

.container#particles{
	justify-content: unset;
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
		100% {
			transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(5) + 5 + px;
		opacity: random(100)/100;
		height: $size;
		width: $size;
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
		background: lighten(nth($colors, random(length($colors))), 1%);
	}
}